.logo{
    width: 100px;
}
body{
   /* background-color: black;*/
}
.carousel-item img {
    max-height: 600px; 
    object-fit: cover;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
.contenedor {
    background-color: rgb(253, 246, 246);
    width: 100%; 
    margin: 0 auto; 
    padding: 20px; 
}

.contenido {
    color: rgb(8, 8, 8); 
    text-align: center;
}
#carouselExampleSlidesOnly {
    max-width: 1000px; /* Cambia este valor según lo necesites */
    margin: 0 auto; 
}

.carousel-item img {
    height: auto; /* Asegúrate de que la altura se ajuste automáticamente */
    max-height: 400px; /* Cambia este valor según lo necesites */
    object-fit: cover; /* Mantiene la proporción de las imágenes */
}

.versiculo{
    color:rgb(14, 14, 14);
    background-color: bisque;
}